#!/bin/zsh

# [0] required yum/dnf packages

required_packages=(
)

# [1] Git status notification

gitwatches=(
   /etc
)

# [2] permission enforcement

perm_ensure=(
   /var/log/httpd	0755
   /var/www/html        2775
)
perm_ensure_recursively=
)

# [3] ownership enforcement

owner_ensure=(
    /var/www/html      webmaster:devel
    /var/www/cgi-bin   webmaster:devel
)
owner_ensure_recursively=(
)

# [4] should be removed(by rm) even after yum.

ensure_removed=(
)

# [5] rpm should be removed.

rpm_ensure_removed=(
)

# [6] systemd services which should be enabled and running

systemd_services=(
)

# [7] systemd services which should be disabled
systemd_services_disabled=(
)
